/* CSS stylesheet */


body {
  background-color: rgb(235, 248, 255);
}

header {
  color: navy;
  margin-left: 20px;
}


h1 {
  color: navy;
  margin-left: 20px;
}

p1 {
  color: navy;
html{
  font-size: 11px;
}
