/* CSS stylesheet */


body {
  background-color: rgb(235, 235, 235);
}

header {
  color: navy;
  margin: 20px;
  display: flex;
  justify-content: center;
}

#title {
  color: navy;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 40px; font-family:monospace; font-style:Consolas;
}

.user-icon {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.settings {
  width: 200px;
  height: 200px;
  margin: 10px;
}

#page_title {
  color: navy;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 30px; font-family:monospace; font-style:Consolas;
  align-items: center;
  justify-content: center;
}

p1 {
  color: navy;
}

body, .cover{
  align-items: center;
}

.cover {
  width: 900px;
  height: 400px;
  margin-top: 50px;
  display: flex;
}

.box {
  margin: 10px
  width: 800px;
  height: 400px;
  box-shadow: -1 px 0 10px #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img, .box{
  width: 300px;
  height: 200px;
  display: flex;
}

.nav{
  position: fixed;
  bottom: 0;
}
