/* CSS stylesheet */


body {
  background-color: #EBEBEB);
}

header {
  background-color: #003D5B;
  display: flex;
  justify-content: center;
  height: 50px;
}

#title {
  color: #EBEBEB;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 40px; font-family:monospace; font-style:Consolas;
}

.user-icon {
  width: 10px;
  height: 10px;
  margin: 10px;
  color: #EBEBEB;
}

.settings {
  width: 50px;
  height: 50px;
  margin: 10px;
  color: #EBEBEB;
}

#page_title {
  color: #003D5B;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 30px; font-family:monospace; font-style:Consolas;
  align-items: center;
  justify-content: center;
}

p1 {
  color: #003D5B;
}

body, .cover{
  align-items: center;
}

.cover {
  width: 900px;
  height: 400px;
  margin-top: 50px;
  display: flex;
}

.box {
  margin: 10px
  width: 800px;
  height: 400px;
  box-shadow: -1 px 0 10px #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
}

svg {
    width: 50px;
    height: 50px;
  }

@media screen and (max-width: 700px){
  #button_title {
    color: #EBEBEB;
  }
}

@media screen and (min-width: 701px){
  #button_title {
    color: #EBEBEB;
  }
}

img, .box{
  width: 300px;
  height: 200px;
  display: flex;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
}

.nav {
  background-color: #003D5B;
  display: flex;
  justify-content: center;
}
