/* CSS stylesheet */


body {
  background-color: #EBEBEB);
}

header {
  background-color: #003D5B;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  padding: 20px 100px;
  z-index: 10000;
}

header .sticky{
  padding: 5px 100px;
  background: #003D5B;
}

header #page_title {
  position: relative;
  font-size: 2em; font-family:monospace; font-style:Consolas;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}

header svg {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px 40px;
  color: #EBEBEB;
  transition: 0.6s;
}

.banner {
  position: relative;
  width: 100%;
  height: 19.1vh;
}

header .sticky #page_title, header .sticky svg{
  color: #edae49;
}

/*.user-icon {
  width: 10px;
  height: 10px;
  margin: 10px 40px;
  color: #EBEBEB;
}

.settings {
  width: 50px;
  height: 50px;
  margin: 10px 40px;
  color: #EBEBEB;
}*/

/*#page_title {
  color: #003D5B;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 30px; font-family:monospace; font-style:Consolas;
  align-items: center;
  justify-content: center;
}*/

p1 {
  color: #003D5B;
}

body, .cover{
  align-items: center;
}

.cover {
  width: 900px;
  height: 400px;
  margin-top: 50px;
  display: flex;
}

.box {
  margin: 10px;
  width: 800px;
  height: 400px;
  box-shadow: -1 px 0 10px #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
}

svg {
    width: 50px;
    height: 50px;
  }

.button{
  background-color: #00798C;
  padding: 20px;
  margin-left: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.big-btn{
  padding: 25px;
  bottom: 10px;
}

.button: on hover{
  transition: 1s;
  background-color: #05476e;
}

.blue-btn{
  background-color: #00798C !important;
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (max-width: 700px){
  #button_title {
    display:none;
  }

  #title {
    color: #EBEBEB;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px; font-family:monospace; font-style:Consolas;
  }
}

@media only screen and (min-width: 701px){
  #button_title {
    color: #EBEBEB;
  }
  #center_button_title {
    color: #EBEBEB;
  }

  #title {
    color: #EBEBEB;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 40px; font-family:monospace; font-style:Consolas;
  }
}

img, .box{
  width: 300px;
  height: 200px;
  display: flex;
}

.wrapper {
  box-sizing: border-box;
  font-family:monospace; font-style:Consolas;
  margin: 5% 0;
  justify-content: center;
}

.wrapper h2 {
  font-family:monospace; font-style:Consolas, bold;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.team .team_member {
  background-color: #edae49;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #fff;
  position: relative;
}

.team .team_member h3 {
  color: #003D5B;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role {
  color: #EBEBEB;
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;
}

.team .team_member .team_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #edae49 /*edit afterwards*/
}

.team .team_member .team_image img{
  width: 100px;
  height: 100px;
  padding: 8px;
  border-radius: 50%;
  object-fit: cover;
}

footer{
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 10px;
}

.nav {
  background-color: #003D5B;
  display: flex;
  justify-content: center;
  height: 60px;
}

.nav .btn {
  padding-left: 20px;
  padding-right: 20px;
}

.nav li.presentation a{
  #symptom{

  }
}
