/* CSS stylesheet */


body {
  background-color: rgb(235, 200, 245);
}

header {
  color: navy;
  margin-left: 20px;
}

h1 {
  color: navy;
  margin-left: 20px;
}

p1 {
  color: navy;
}

.user-icon {
  width: 100px;
  height: 100px;
  margin: 10px;
  float: left;
  background-color: rgb(135, 248, 245);
}

.settings {
  width: 100px;
  height: 100px;
  margin: 10px;
  float: left;
  background-color: rgb(235, 248, 145);
}

h2 {
  width: 100px;
  height: 100px;
  margin: 10px;
  float: left;
  background-color: rgb(235, 248, 145);
}

.cover {
  width: 900px;
  height: 400px;
  margin-top: 50px;
  display: flex;
}

.box {
  margin: 10px
  width: 800px;
  height: 400px;
  box-shadow: -1 px 0 10px #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img, .box{
  width: 300px;
  height: 200px;
  display: flex;
}


/*

<div id="wrapperDiv">
<div id="div1" style="padding:20px;background-color:#decddd;float:left">Div tag 1</div>
<div id="div2" style="padding:20px;background-color:#cedddd;float:left">Div tag 2</div>
</div>

*/


/*
Consolas

h1 {
      color: blue; font-size: 20px; font-family: verdana; font-style:italic;
}

*/
