/* CSS stylesheet */


body {
  background-color: rgb(235, 235, 235);
}

header {
  background-color: rgb(0, 102, 150);
  margin: 20px;
  display: flex;
  justify-content: center;
  height: 50px;
}

#title {
  color: rgb(235, 235, 235);
  margin-left: 40px;
  margin-right: 40px;
  font-size: 40px; font-family:monospace; font-style:Consolas;
}

.user-icon {
  width: 10px;
  height: 10px;
  margin: 10px;
  color: rgb(235, 235, 235);
}

.settings {
  width: 50px;
  height: 50px;
  margin: 10px;
  color: rgb(235, 235, 235);
}

#page_title {
  color: navy;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 30px; font-family:monospace; font-style:Consolas;
  align-items: center;
  justify-content: center;
}

p1 {
  color: navy;
}

body, .cover{
  align-items: center;
}

.cover {
  width: 900px;
  height: 400px;
  margin-top: 50px;
  display: flex;
}

.box {
  margin: 10px
  width: 800px;
  height: 400px;
  box-shadow: -1 px 0 10px #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img, .box{
  width: 300px;
  height: 200px;
  display: flex;
}

.wrapper {
  box-sizing: border-box;
  font-family:monospace; font-style:Consolas;
  margin-top: 10%;
}

.wrapper h2 {
  font-family:monospace; font-style:Consolas, bold;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.team .team_member {
  background-color: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}

.team .team_member h3 {
  color: #81c644; /* edit afterwards */
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role {
  color: #ccc;
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;
}

.team .team_member .team_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff /*edit afterwards*/
}

.team .team_member .team_image img{
  width: 100px;
  height: 100px;
  padding: 10px;
}

footer {
  background-color: navy;
  margin: 20px;
  display: flex;
  justify-content: center;
  height: 50px;
}
